[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = { version = "==0.95.1" }
python-dotenv = { version = "==1.0.0" }
dependency-injector = { version = "==4.41.0" }
sqlalchemy = { version = "==2.0.12" }
databases = "*"
alembic = "*"
psycopg2-binary = { version = "==2.9.6" }
pytest = "*"
httpx = "*"
pytest-asyncio = "*"
uvicorn = { extras = ["standard"], version = "==0.23.2" }
requests = "*"
asyncpg = "*"

[dev-packages]

[requires]
python_version = "3.10"